*{
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Trebuchet MS';
	font-size: 16px;
	text-align: center;
	padding: .1875em 0;
}

a:link{
	color: red;
	text-decoration: none;	
}

body{
	margin: auto 0;
	height: 300px;
	width: 300px;
}

header{
	color:#2E2E2E;
	font-size: 1.6em;
	font-weight: bold;
}

footer{
	font-size: 1em;
}


#estado{
	color:red;
}

#div_clima{
	color:#7A7A7A;
	font-size: 1em;
}

.titulo{
	background-color: #303030;
	color:#FFFFFF;
	font-size: 1.3em;

}
