*{
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Trebuchet MS';
	font-size: 16px;
	text-align: center;
	padding: .1875em 0;
}

body{
	margin: auto 0;
	height: 300px;
	width: 300px;
}

h3{
	color:#2E2E2E;
	font-weight: bold;
}

#estado{
	color:red;
}

.titulo{
	background-color: #2E2E2E;
	color:#FFFFFF;
	font-size: 1.3em;
	padding: .125em 0;
	text-align: center;
}
